# Pandas Dataframe

>A Dataframe is a two-dimensional array, so it has two index: columns and rows 

#### New DataFrame

1. Create dictionary : `info = { "column_name" : [value_row_0, value_row_1, ..., value_row_n]}`
2. Convert to DF : `pd.DataFrame(info)`
3. Add column : all different values have to be ordered in a list. A single value will be assigned to all the rows.
4. Name index : each row can have a named index instead of numbers
5. Assign column as index : another option is to use one column values as a named index (similar to primary key)

In [ ]:
import pandas as pd
##1
books_info = {'title': ["Long bright river", "Topics of conversation", "We wish you luck"],
               "author": ["Liz Moore", "Miranda Popkey", "Caroline Zancan"],
               "pages": [320, 384, 279],
               "editor": ["Riverhead Books, U.S.", "Harper Collins Publ. USA", "MCD" ]}
##2
books_df = pd.DataFrame(books_info)

In [ ]:
##Output
books_df

In [ ]:
##3
books_df["year"] = 2020  ##all the rows will have the same value as all the books are from this year

In [ ]:
##4
books_df.index = ["one", "two", "three"]

In [6]:
##5
books_df = books_df.set_index(["title"])

#### Accessing data

Comment the code for executing one line at a time or use `print()`

- By row
    
    1. Range of rows
    2. Specific row : `df.loc["index"]` --> the index can be number or string 


- By column

    1. Rows and columns in that order. It can be a single value or a range, but `.iloc[ : , ]` only works with numbers (a).        To write column or row-index names, use `.loc[]` (b).
    2. Single column

In [22]:
import pandas as pd
books_info = {'title': ["Long bright river", "Topics of conversation", "We wish you luck"],
               "author": ["Liz Moore", "Miranda Popkey", "Caroline Zancan"],
               "pages": [320, 384, 279],
               "editor": ["Riverhead Books, U.S.", "Harper Collins Publ. USA", "MCD" ]}
books = pd.DataFrame(books_info)

In [ ]:
##By rows
books[1:]     ##1
books.loc[0]  ##2

In [ ]:
##By column
books.iloc[:2, :1]                   ##1a
books.loc[1, ["title", "author"]]    ##1b
books["pages"]                       ##2

#### Delete

1. By row
2. By column

In [ ]:
import pandas as pd
books_info = {'title': ["Long bright river", "Topics of conversation", "We wish you luck"],
               "author": ["Liz Moore", "Miranda Popkey", "Caroline Zancan"],
               "pages": [320, 384, 279],
               "editor": ["Riverhead Books, U.S.", "Harper Collins Publ. USA", "MCD" ]}
books = pd.DataFrame(books_info)

In [10]:
##1
books.drop([1])

In [ ]:
##2
del books["editor"] 
books

#### Reading files

1. Pass the name of the file as a parameter to `.read_csv()` function. With `index_col=None` we are sayng that column names    won't be counted as another row. 


2. DF can be very long so only part of the data is shown. `head()` and `tail()`display the first 5 rows and the last,          respectively. You can change the number of rows displayed by passing the desired number as a parameter in the both          functions. 


3. For showing the both at the same time (head and tail) we can use `pd.set_option()`. With `"max_rows"` and a number, it      will display that number of rows, the half from the head and the other half from the tail, so it has to be an even          number, or it will take that number -1. `"max_columns"` does the same. In the example we want to see 4 columns that are    the first, the second, the last and the last-1, ignoring the middle ones with three dots(...).

In [ ]:
import pandas as pd

c = pd.read_csv("cast.csv", index_col=None) ##1
c.loc[0]

In [ ]:
print(c.head()) ##first 5 rows              ##2
print(c.tail()) ##last five

In [ ]:
pd.set_option("max_rows", 8, "max_columns", 4) ##3
print(c)

len(c)                                         ##4

#### Filtering

With boolean conditions in the braces, we are saying that we just want to see those rows where the condition is evaluated as True. We can add as many conditions as we want using boolean operators

In [ ]:
import pandas as pd

t = pd.read_csv("cast.csv", index_col=None) 

century21 = t[(t["year"]>=2000) & (t["year"]<=2010)]
century21

#### Sorting

1. By default, rows are sorted by index. With `sort_values()`, rows can be ordered by any column, by passing it's name as a parameter.

2. In case you have a dataframe sorted by any column and you want to sort it back by index, there's the `sort_index()` method, which order as the default again.

In [7]:
import pandas as pd

t = pd.read_csv("cast.csv", index_col=None) 

##1
movies2000 = t[t["year"]==2000]
sort2000 = movies2000.sort_values("title")
#sort2000

In [ ]:
##2
default2000 = sort2000.sort_index()
default2000  #now, default2000 = movies2000

#### Null values

1. The `isnull()` method returns True if the row's values of the selected column are null. The opposite is `notnull()`, that returns True for not null values.


2. To display those rows evaluated as True, it has to be passed to the dataframe as the boolean conditions we have seen before.

In [13]:
import pandas as pd

c = pd.read_csv("cast.csv", index_col=None)

In [ ]:
c['n'].isnull().head()       ##1

In [ ]:
c[c['n'].isnull()].head()    ##2

#### Strings

Another way of filtering data can be by thee beginning of a string.

In [ ]:
import pandas as pd

c = pd.read_csv("cast.csv", index_col=None) 

c[c["title"].str.startswith("Maa")]

#### Group by

1. Ocurrences of each value in a column can be counted with `value_counts()`. Of course, for unique values in a table it doesn't have sense. For example, in one year are released a lot of movies, so we can use this function to know the number of movies for a specific year.


2. Another way of doing the same is to apply the `size()` method to `groupby()`. With the last, as the name says, data is grouped by the same value of the column selected, so movies from the same year are in the same group. With `size()` you get the number of rows from that group. 


3. Other operations can be done with `groupby()` like the media of the columns grouped by year.


4. This method not just works with column names as a parameter, you can create you own agrupations by a custom field from a column. For example, for grouping by decade we have to calculate it from the year value.

In [10]:
import pandas as pd

c = pd.read_csv("cast.csv", index_col=None)

In [ ]:
##1
count = c["year"].value_counts()
count[2000]

In [ ]:
##2
count = c.groupby("year").size()
count[2000]

In [ ]:
##3
mean = c.groupby("year").mean()
mean

In [ ]:
##4
decade = c["year"] // 10 * 10  #this operation exchanges the last number by a 0, so the decade can be obtained
count_dec = c.groupby(decade).size()
count_dec